.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    border: 1px solid;
    height: 5rem;
    width: 40vw;
}
.color{
    margin: 1rem;
    border: 1px solid;
    height: 3rem;
    width: 8vw;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}